Login/.vs/config/applicationhost.config
Login/.vs/Login/v15/Server/sqlite3/storage.ide
Login/Login.Data/obj/Debug/netcoreapp2.0/Login.Data.csproj.CopyComplete
Login/Login.Web/obj/Debug/netcoreapp2.0/Login.Web.csproj.CopyComplete
Login/.vs/Login/v15/Server/sqlite3/storage.ide-wal
Login/.vs/Login/v15/Server/sqlite3/storage.ide-shm
Login/.vs/Login/v15/Server/sqlite3/db.lock
Login/Login.Web/obj/project.assets.json
Login/Login.Web/obj/Login.Web.csproj.nuget.g.props
Login/Login.Web/obj/Debug/netcoreapp2.0/Login.Web.csproj.FileListAbsolute.txt
Login/Login.Data/obj/project.assets.json
Login/Login.Data/obj/Login.Data.csproj.nuget.g.props
Login/Login.Data/obj/Debug/netcoreapp2.0/Login.Data.csproj.FileListAbsolute.txt
